
body {
  background-color: #15202b;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  margin: 10% 20%;
  
}

.exp-header {
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  
}
